.section-right {
    padding: 220px 150px 220px 80px;
    background-color: rgb(32.2%, 47.5%, 43.5%);
    width: 50%;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    height: 98vh;
}

.section-left {
    width: 50%;
}

.links {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.links:hover {
    color: rgb(221, 221, 221);
}

.login-cintain {
    width: 100%; height: 98vh;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

/* #form3Example4c {
    border-color: green;
    border: 2px solid green;
} */


@media screen and (min-width: 280px) and (max-width: 600px) {

    .section-right {
        padding: 0px 29px 0px 20px;
        background-color: rgb(32.2%, 47.5%, 43.5%);
        width: 80%;
        border-radius: 35px;
        height: 400px;
        /* margin: 25px 41px 0px 41px; */
        margin-right: 41px;
        margin-left: 41px;
        margin-top: 45%;
        margin-bottom: 45%;
    }

    .section-left {
        width: 0%;
    }
}

@media screen and (min-width: 0px) and (max-width: 280px) {

    .section-right {
        padding: 0px 29px 0px 20px;
        background-color: rgb(32.2%, 47.5%, 43.5%);
        width: 80%;
        border-radius: 35px;
        height: 400px;
        /* margin: 25px 41px 0px 41px; */
        /* margin-right: 15px; */
        margin-left: 30px;
        margin-top: 45%;
        margin-bottom: 45%;
    }

    .section-left {
        width: 0%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1500px) {
    .section-right {
        padding: 220px 150px 220px 80px;
        background-color: rgb(32.2%, 47.5%, 43.5%);
        width: 70%;
        border-top-left-radius: 35px;
        border-bottom-left-radius: 35px;
        height: 98vh;
    }

    .section-left {
        width: 30%;
    }

}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .section-right {
        padding: 220px 150px 220px 80px;
        background-color: rgb(32.2%, 47.5%, 43.5%);
        width: 80%;
        border-top-left-radius: 35px;
        border-bottom-left-radius: 35px;
        height: 98vh;
    }

    .section-left {
        width: 20%;
    }

}