<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(32.2%,47.5%,43.5%);">
  <div class="justify-content-between container">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
        <img 
          src="https://www.shutterstock.com/image-vector/elearning-concept-logo-learning-online-260nw-2146465059.jpg"
          height="30" 
          alt="MDB Logo" 
          loading="lazy" 
          style="margin-top: 2px;" />
        <h3 
          style="margin: 0px; padding: 0px;" 
          class="light-text">
            LEARN
        </h3>
      </a>
    </div>
    <!-- Left elements -->

    <!-- Right elements -->
    <ul class="navbar-nav flex-row hide">

      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" href="#">
          <img
            src="https://e7.pngegg.com/pngimages/48/511/png-clipart-computer-icons-home-home-angle-text-thumbnail.png"
            class="rounded-circle" 
            height="22" 
            alt="Black and White Portrait of a Man" 
            loading="lazy" />
          <strong class="d-none d-sm-block ms-1 light-text">Home</strong>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" href="#">
          <img
            src="https://thumbs.dreamstime.com/b/book-icon-black-circle-simple-literature-reading-newspaper-128431270.jpg"
            class="rounded-circle" 
            height="22" 
            alt="Black and White Portrait of a Man" 
            loading="lazy" />
          <strong class="d-none d-sm-block ms-1 light-text">Courses</strong>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" href="#">
          <img 
            src="https://png.pngtree.com/png-vector/20190420/ourmid/pngtree-call-vector-icon-png-image_964007.jpg"
            class="rounded-circle" 
            height="22" 
            alt="Black and White Portrait of a Man" 
            loading="lazy" />
          <strong class="d-none d-sm-block ms-1 light-text">Contact</strong>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" href="#">
          <img 
            src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" 
            class="rounded-circle" 
            height="22"
            alt="Black and White Portrait of a Man" 
            loading="lazy" />
          <strong class="d-none d-sm-block ms-1 light-text">My Account</strong>
        </a>
      </li>
    </ul>
    <!-- Right elements -->
  </div>
</nav>
<!-- Navbar -->