.light-text {
    color: white;
}

.toggle-menue {
    color: white;
    font-size: large;
    margin-bottom: 50x;
}

.nav-routes, .light-text:hover {
    cursor: pointer;
    color: rgb(235, 232, 232);
}

.logo {
    color: white;
}

@media screen and ( min-width: 0px ) and ( max-width: 600px ) {

    .hide {
        display: none;
    }
}

@media screen and ( min-width: 0px ) and ( max-width: 600px ) {

    .hide {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .hide-menue {
        display: none;
    }
}